body {

    font-family: Garamond;

}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.header {
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    padding: 10px;
    background-color: rgb(255, 218, 218);
    z-index: 1;
}

h1 {

    color:#EF5350;

    margin-bottom: 0;

    margin-top: 0;

    text-align: center;

    font-size: 40px;

}

h3 {

    color:#EF5350;

    font-size: 20px;

    margin-top: 3px;

    text-align: center;

}

#chatbox {

    margin-left: auto;

    margin-right: auto;

    width: 40%;

    margin-top: 120px;

    margin-bottom: 90px;

    background-color: white;

}

#userInput {

    position: fixed;

    margin-left: auto;

    margin-right: auto;

    width: 40%;

    margin-top: 60px;

    bottom: 0px;
    left: 0px;
    padding: 10px 475px 20px 475px;
    background-color: rgb(255, 218, 218);

}

#textInput {

    width: 87%;

    border: none;

    border-bottom: 3px solid #EF5350;

    font-family: monospace;

    font-size: 17px;

    background-color: rgb(255, 218, 218);

}

#textInput:focus {
    color:#EF5350;
    outline: none;
}

#buttonInput {
    content: url("sendwhite.png");
    padding: 5px;
    width: 20px;
    height: 20px;
}

#buttonInput:hover {
    content: url("send.png");
    padding: 5px;
    width: 20px;
    height: 20px;
}

.userText {

    color: white;

    font-family: monospace;

    font-size: 17px;

    text-align: right;

    line-height: 30px;

}

.userText span {

    background-color: #009688;

    padding: 10px;

    border-radius: 10px;

}
.userText::after {
    content: url(char.png);
}

.botText:before {
    content: url(avatar.png);
}

.botText {

    color: white;

    font-family: monospace;

    font-size: 17px;

    text-align: left;

    line-height: 30px;

}

.botText span {

    background-color: #EF5350;

    padding: 10px;

    border-radius: 10px;

    max-width: 200px;

}

.botText b {
    padding: 5px;
    color:#EF5350;
}

.userText b {
    padding: 5px;
    color:#009688;
}

#tidbit {

    position:absolute;

    bottom:0;

    right:0;

    width: 300px;

}